<form>
    <div class="input-group mt-3">
      <input type="text" 
        class="form-control" 
        placeholder="Item name"
        name="myInput"
        [(ngModel)]="itemToAdd">
      <button type="submit" class="btn btn-primary"
        (click)="addObjectToList()">Add</button>
  </div>
</form>
<ul class="list-group">
  <app-shopping-list-item 
    *ngFor="let item of listItems | async"
    [item]="item"> <!-- [] is used to pass objects instead of a string -->
  </app-shopping-list-item>
</ul>